Non Inveniam/Folder-003/TSL/TSL Trade Finance/Trade Finance/Abhrajyoti/TataTradefinance/SWIFT_IN_C2B_PCM_A1_A2_Schema_PDF_XLS_20210201/sup_pain_001_001_0_20210127.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Message name: pain.001.001.09
URL: https://www2.swift.com/mystandards/#/mx/pain.001.001.09
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2021-01-27T11:30:54+00:00
ISO 20022 version : 2004
-->
<!---->
<xs:schema xmlns="swift.india.supp.data" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="swift.india.supp.data">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdvanceImportGuaranteeDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdvanceImportGuaranteeDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">When the Purpose of Remittance is Advance Import Of Goods</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UdrtkgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GuaranteeNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SBLC or BG Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UdrtkgIsseDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GuaranteeIssueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SBLC or BG Issue Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UdrtkgAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GuaranteeAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SBLC or BG Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountDetails2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountDetails2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Consists of Debit and Credit Amount Details</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtAmtDtls" type="DebitAmountDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebitAmountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">would indicate the total transaction amount. The corporate customer must make sure this amount sums up to the BOE Utilisation Amounts. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdtAmtDtls" type="CreditAmountDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditAmountDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, for example, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount16">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount16</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesAndTax">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ChargesAndTax</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Required when Charges account is other than EEFC account</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBkChrgs" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LocalBankCharges</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Local Bank Charges</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GstAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GSTAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">GST Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount to be debited</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryOfResidence">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryOfResidence</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RESI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResidentIndian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When the debtor is Indian National</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignNational</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When the nationality is other than Indian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PIOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PersonOfIndianOrigin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Person Of Indian Origin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditAmountDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditAmountDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates credit amount and currency</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DebitAmountDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DebitAmountDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates debit amount and currency</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedPaymentInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DetailedPaymentInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Debit Authority, Exchange rate and Purpose code details. Also used to indicate cross currency exchange rates</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DbtrAcct" type="CashAccount16">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebtorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debtor Account Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PurpCd" type="Max5Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurposeCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purpose Code as assigned by RBI.&#13;
&#13;
Note: Although the field is optional, the corporate customer must make sure that this field is populated in case of A2 payments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PurpCdGrp" type="Max76Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurposeCodeGroupName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purpose Code Group Name as defined by RBI</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtDtls" type="AmountDetails2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Consists of Debit and Credit Amount Details.&#13;
&#13;
This amount would indicate the total transaction amount. The corporate customer must make sure this amount sums up to the BOE Utilisation Amounts. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateInf" type="ExchangeRate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRateInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the currency exchange rate and contract.&#13;
&#13;
Kindly refer to the SWIFT IN rate type usage guidelines, developed to map ISO rate type codes with the codes used by the Indian banking community.&#13;
&#13;
ISO rate types to be used in combination of ISO rate type code + Requested Execution Date + Contract ID (if available).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FrgnRmtDtls" type="FrgnRmtDtls"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExchangeRate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Further detailed information on the exchange rate that has been used in the payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The factor used for conversion of an amount from one currency to another. This reflects the price at which one currency was bought with another currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="ExchangeRateType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type used to complete the currency exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContractIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous reference to the foreign exchange contract agreed between the initiating party/creditor and the debtor agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExchangeRateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExchangeRateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of financial or commercial document.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Spot</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange rate applied is the spot rate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SALE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sale</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange rate applied is the market rate at the time of the sale.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGRD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agreed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange rate applied is the rate agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalHSCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalHSCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">HS (Harmonised Commodity) Code External Code List</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignRemittanceDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignRemittanceDetails</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PurpOfRmtChc" type="PurposeType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurposeOfRemittance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purpose of Remittance can be:&#13;
&#13;
- Advance Imports of Goods or&#13;
- Post Shipment Import of Goods or&#13;
- Services (Non-import Remittances. i.e. A2)&#13;
- LRS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdvImptUdrtkgDtls" type="AdvanceImportGuaranteeDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdvanceImportGuaranteeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of Advance Import of Goods</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PstShipmntDtlsChc1" type="PostShipmentDetailsChoice1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostShipmentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Post Shipment Choice. Can be -&#13;
&#13;
- BOE details&#13;
- Transport Data information</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodsTp" type="GoodsType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GoodsType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Goods Type can be raw material or capital goods.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="Max1850Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformationForBanks</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This field is to be used when the customer wants to indicate/highlight an information to its bank.&#13;
&#13;
This field can be used to indicate Delay reason etc.&#13;
&#13;
Also used to indicate the declaration for remittances. All the declarations must begin with a code. Codes to be enclosed within '/'.  &#13;
&#13;
List of codes are: FEMA, BOED (BOE Declaration), DELD (Delayed payment declaration), NNLD (For NNL Declaration)&#13;
&#13;
E.g. /BOED/&#13;
&#13;
This field may also be used to indicate names of multiple files sent via FileAct. Follow the SWIFT IN File naming convention for naming information.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InvcDtls" type="InvoiceDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvoiceDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PO or PI or Invoice Details</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldPmtInf" type="DetailedPaymentInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DetailedPaymentInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debit Authority, Exchange rate and Purpose code details</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SummryInf" type="SummaryInfo">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SummaryInfo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Foreign Remittance Info contains total remittance amount, charge bearer and value date of remittance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAndTax" type="ChargesAndTax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ChargesAndTax</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Remittance Charges And Tax includes local bank charges, GST amount and total amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtrNtlty" type="UltimateDebtorNationality">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UltimateDebtorNationality</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ultimate Debtor Nationality can be foreign, Indian resident or person of Indian origin</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FrgnRmtDtls">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FrgnRmtDtls</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrgnRmtDtls" type="ForeignRemittanceDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignRemittanceDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For A1/A2 in India</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GoodsAndServicesDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GoodsAndServicesDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Contains Description of Goods and Services and HS Code</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="GoodsAndOrSvcsDesc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DescriptionOfGoodsServices</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This field can be used to describe details of Spares / Machine / Product name /Engineering / Professional / Technical Services etc. &#13;
&#13;
Applicable also for Non-Import Remittances (A2)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="HSCd" type="ExternalHSCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HarmonisedCommunityCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Harmonised Community Code issued by Customs dept.&#13;
This is an external code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GoodsType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GoodsType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of goods</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="CAPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CapitalGoods</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For Capital Goods</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RAWM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RawMaterial</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Raw Material</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="InvoiceDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvoiceDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">PO or PI or Invoice Details</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InvcNb" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvoiceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invoice Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InvcDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvoiceDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invoice Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InvcAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvoiceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invoice Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MiscChrgs" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiscCharges</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Charges</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NetPyblAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetPayableAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net Payable Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PurchsOrdrDtls" type="PurchaseOrderDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This component is used to indicate PO/PI Number, PO/PI Amount and PO/PI Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="GoodsAndOrSvcsDtls" type="GoodsAndServicesDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GoodsAndServicesDetails</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max10NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 10 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max10Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 10 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 15 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1850Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max1850Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1850 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1850"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max50Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 50 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 5 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max64Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max64Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 64 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max65Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max65Text</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="65"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max76Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max76Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 76 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="76"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max7NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max7NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 7 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostShipmentDetailsChoice1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostShipmentDetailsChoice1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">When remittance purpose is - Post Shipment Import Of Goods and when Bill of Entry information is available.&#13;
&#13;
OR &#13;
&#13;
When remittance purpose is - Post Shipment Import Of Goods and when Transport document details are available</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="PstShipmntDtls1" type="Postshipmentdetails1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BillOfEntryAndShipmentDetails</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Bill Of Entry Information plus additional post shipment details</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="PstShipmntDtls2" type="Postshipmentdetails2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TransportDocumentAndShipmentDetails</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Transport Document Number and Date plus additional shipment information</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Postshipmentdetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Postshipmentdetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">When remittance purpose is - Post Shipment Import Of Goods and when Bill of Entry information is available.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BllOfNtryNb" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillOfEntryNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bill Of Entry Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BllOfNtryDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillOfEntryDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bill Of Entry Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BllOfNtryUtlstnAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BOEUtilisationAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BOE Utilisation Amount is crucial to indicate the amount debited against each BOE. This amount may be paid in full/partial.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvcNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvoiceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">There could be multiple invoices under a single BOE. Therefore, this is a repetitive field with in BillOfEntry&amp;ShipmentDetails component</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PortCd" type="Max10Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PortCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Port Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthrsdDealrCd" type="Max15Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorizedDealerCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AD Code&#13;
&#13;
Currently maximum of 6 Alphanumeric characters are allowed by the RBI. However, the specifications are futuristic in nature and therefore the field supports max 15 characters.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ImptExptCd" type="Max10NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ImportExportCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Import Export Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipmntDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShipmentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">On Board Shipping Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfOrgn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfOrigin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country Of Origin</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PortOfLoadng" type="Max64Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PortOfLoading</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Port Of Loading</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Consignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When consignee is other than the remitter</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgCpny" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShippingCompany</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Freight forwarder or shipping company</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VsslNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VesselName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Vessel Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IMONb" type="Max7NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IMOCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Maritime Organization Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTerms" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentTerms</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment Term as mentioned in Invoice</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsShipmntPort" type="Max65Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TranshipmentPort</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transhipment Port</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Postshipmentdetails2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Postshipmentdetails2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">When remittance purpose is - Post Shipment Import Of Goods and when Transport document details are available</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtDocRef" type="Max50Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransportDocumentReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transport Document Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsprtDocDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransportDocumentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transport Document Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ImptExptCd" type="Max10NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ImportExportCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Import Export Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipmntDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShipmentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">On Board Shipping Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfOrgn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfOrigin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country Of Origin</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PortOfLoadng" type="Max64Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PortOfLoading</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Port Of Loading</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Consignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When consignee is other than the remitter</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgCpny" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShippingCompany</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Freight forwarder or shipping company</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VsslNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VesselName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Vessel Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IMONb" type="Max7NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IMOCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Maritime Organization Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTerms" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentTerms</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment Term as mentioned in Invoice</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsShipmntPort" type="Max65Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TranshipmentPort</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transhipment Port</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PurchaseOrderDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PurchaseOrderDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Includes Purchase Order Number, Purchase Order Amount, Purchase Order Date</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PurchsOrdrRef" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PO or PI Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PurchsOrdrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PO or PI Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PurchsOrdrAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PO or PI Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PurposeType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PurposeType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Purpose of Remittance</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="AIMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdvanceImportOfGoods</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advance Import Of Goods</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PIMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostShipmentImportOfGoods</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Post Shipment Import Of Goods </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SERV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonImportRemittances</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Services - A2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LRSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiberalizedRemittanceScheme</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liberalized Remittance Scheme</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SummaryInfo">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SummaryInfo</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details included are total remittance amount, charges, value date</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TtlRmtAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalRemittanceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total Remittance Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RmtValDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDateOfRemittance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value Date</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UltimateDebtorNationality">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UltimateDebtorNationality</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryOfResidence">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfResidence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nationality of Ul</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrgnNtltyCtryCd" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignNationalCountryCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Foreign National Country Code when the Nationality code is FORN</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
